<h2>Edit User</h2>

<% form_for(@user) do |f| %>
  <%= render :partial => 'fields', :locals => {:f => f} %>
  <div class="actions">
    <%= f.submit "update" %>
  </div>
<% end %>

<div>
  <a href="http://gravatar.com/email" target="_blank">change</a>
</div>
